
.inter-main {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
body{
   
    background-color: #111111;
}
/*navber*/
.nav-titel{
    color: rgba(230, 83, 60, 1);
    font-size: 2.25rem;
    font-style: italic;
    
}
nav{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
 nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    

}
    
nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    color:rgb(255, 255, 255) ;
    font-weight: 600;
    margin : 42px;
}
#home{
    box-sizing: border-box;
    background-color: rgba(230, 83, 60, 1);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 8px 20px 8px 20px;
    
}
.nav-three{
    display: none;
}
/*banner*/
.banner{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.banner-text{
    width: 500px;
    height: 440px;
}
.banner-title{
    font-size:4.5rem;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 28px;
}
.span{
    font-family: 'Miama', sans-serif;
                                                
}
.banner-description{
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.5) ;
    margin-bottom: 20px;
}

.btn{
    display: flex;
   
    
}
.btn-primary, .btn-two{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 40px 16px 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:42px;
    
}
.btn-two{
    border-color: white;
    margin-left: 20px;
}
.btn-primary{
    background-color: rgba(230, 83, 60, 1);
    
    
}
.video-info{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: justify;
    color: white;
    position: absolute;

}
.video-info p {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0  10px;
    

}

.video-info span{
    font-size: 0.6rem;
    margin: 0  10px;
}
.banner-img{
    
position: relative;

}
.video-img{
    display: none;
}
.position-two{
   display: flex;
   align-items: center;
   top: 75%;
   left: -15%;
    
}
.position-one{  
top:25%;
left: 70%;
} 
/*havit-section*/

.all-titel{
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top:30px ;
}
.sub-titel{
    font-size: 1rem ;
    color:rgba(255, 255, 255, 0.5) ;
    text-align: center;
    margin-top:14px ;
    margin-bottom: 58px;
}
.havit-container{
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 40px;
    
}


.havit-img img{
    
            border-radius: 50%;
           
}
.havit-titel{
    color: white;
    font-size:1rem ;
    text-align: center;

}
.havit-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    text-align: center;
}

@media screen and (max-width:576px) {
    nav{
        margin: none;
        max-width: none;
        display: flex;
      justify-content: space-between;
    }
      
    .nav-two{
    display: none;
    
    
   }
   .nav-three{
    display: flex;  
    
   }
    
    .banner{
       flex-direction: column;
    
    }
    .banner-text{
       width: auto;
       height: auto;
       
        margin-bottom: 30px;
    }
    .banner-title{
        font-size: 4rem;
    }
    .banner-img{
    
        position: relative;
        width: 270px;
        }
   .video-imgg{
    display: none;
   }
   .video-img{
    display: flex;
   }  
        .position-two{
           
           top: 55%;
           left: -15%;
            
        }
        .position-one{  
        top:15%;
        left: 70%;
        } 


 /*habit*/
 .habit-titel{
    font-size: 2rem;
    
 }
.habit-p{
    
    text-align: center;
}
 .havit-container{
   flex-direction: column;
  
}       
}