
.inter-main {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
body{
   
    background-color: #111111;
}
/*navber*/
.nav-titel{
    color: rgba(230, 83, 60, 1);
    font-size: 2.25rem;
    font-style: italic;
    
}
nav{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
 nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    

}
    
nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    color:rgb(255, 255, 255) ;
    font-weight: 600;
    margin : 42px;
}
#home{
    box-sizing: border-box;
    background-color: rgba(230, 83, 60, 1);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 8px 20px 8px 20px;
    
}
.nav-three{
    display: none;
}
/*banner*/
.banner{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.banner-text{
    width: 500px;
    height: 440px;
}
.banner-title{
    font-size:4.5rem;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 28px;
}
.span{
    font-family: 'Miama', sans-serif;
                                                
}
.banner-description{
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.5) ;
    margin-bottom: 20px;
}

.btn{
    display: flex;
   
    
}
.btn-primary, .btn-two{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 40px 16px 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:42px;
    
}
.btn-two{
    border-color: white;
    margin-left: 20px;
}
.btn-primary{
    background-color: rgba(230, 83, 60, 1);
    
    
}
.video-info{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: justify;
    color: white;
    position: absolute;
    backdrop-filter: blur(15.12px);

}
.video-info p {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0  10px;
    

}

.video-info span{
    font-size: 0.6rem;
    margin: 0  10px;
}
.banner-img{
    
position: relative;

}
.video-img{
    display: none;
}
.position-two{
    
   display: flex;
   align-items: center;
   top: 75%;
   left: -15%;
    
}
.position-one{  
top:25%;
left: 70%;
} 
/*havit-section*/

.all-titel{
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top:30px ;
}
.sub-titel{
    font-size: 0.8rem ;
    color:rgba(255, 255, 255, 0.5) ;
    text-align: center;
    margin-top:14px ;
    margin-bottom: 58px;
}
.havit-container{
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 40px;
    
}

.habits{
    margin-top: 30px;
}
.havit-img img{
    
            border-radius: 50%;
           
}
.havit-titel{
    color: white;
    font-size:1rem ;
    text-align: center;
    margin-bottom: 14px;

}
.havit-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 58px;
}
/*exercise*/
.exercise{
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
    background: rgb(34, 34, 34);
    border-radius: 16px;
    margin: 30px 150px;
    padding: 40px;
}
.exercise-titel{
    
    font-size: 3rem;
    color: white;
    margin-bottom: 14px;
}
.exercise-description{
     width: 400px; 
     
}
.exercise-sub-titel{
    font-size: 0.8rem;
    color:rgba(255, 255, 255, 0.5) ;
    margin-bottom: 34px;
}
.exercise-btn{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 40px 16px 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:42px; 
    background-color:rgba(230, 83, 60, 1) ; 
}
.exercise-img img{
    width: 400px;
    height: 350px;
    border-radius: 18px;
   
}
/*BMI*/
.BMI{
    text-align: center;
}
.bmi{
    background-color:rgba(34, 34, 34, 1);
    
}
.bmi-container{
  
    display: flex;
    justify-content:space-evenly;
    
   
}
.Chart, .calculate-bmi{
    color: #fff;
}
.bmi-chart, .bmi-calculator {
    background-color:rgba(34, 34, 34, 1);
    padding: 20px;
    color: rgba(255, 255, 255, 0.5);
    
}
.bmi-chart h2, .bmi-calculator h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

table { 
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid  #444;
    padding: 10px;
    text-align: left;
}


.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    
    
}

input, select, button {
    background-color: rgba(255, 255, 255, 0.1);
    color:  rgba(255, 255, 255, 0.3);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
}

.number5{
  width:203%;
}
button {
   
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    padding: 16px 40px 16px 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:42px; 
    background-color:rgba(230, 83, 60, 1) ; 
}
/*team*/
.team{
    max-width: 1130px;
    text-align: center;
    margin:auto ;
    
   
}
.team-grid {
    display: grid;
    background-color:rgba(255, 255, 255, 0.1); 
    grid-template-columns: repeat(3,1fr);
    border-radius: 18px;
    padding: 20px;
    gap: 20px;
}
.team-member {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.team-member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    color: #ffffff;
    padding: 20px;
    text-align: left;
    opacity: 1;
    border-radius: 0 0 10px 10px;
}



.overlay h3 {
    margin: 0;
    font-size: 1.2rem;
}

.overlay p {
    color: rgba(255, 255, 255, 0.5);
    margin: 5px 0 0;
    font-size: 0.8rem;
}
/*footer*/
footer{
    
    text-align: center;
    background-color:rgba(255, 255, 255, 0.1) ;
}
.footer-container {
   
    display: flex;
    justify-content:space-evenly; 
    padding: 0 20px;
    margin-top: 30px;
   
   
    
    
}
.footer-logo{
    width: 376px;
    text-align: left;
    
}
.footer-links h3{
    color: rgb(255, 255, 255); 
    text-align: left;
    font-size: 2rem;

}
.footer-links ul {
    list-style: none;
    padding: 0;
    text-align: left;
    font-size: 1.5rem;
}
.footer-links ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    
}
.footer-bottom{
   margin: auto;
   max-width: 1130px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    
    
   
}

@media screen and (max-width:576px) {
    nav{
        margin: none;
        max-width: none;
        display: flex;
      justify-content: space-between;
    }
      
    .nav-two{
    display: none;
    
    
   }
   .nav-three{
    display: flex;  
    
   }
    
    .banner{
       flex-direction: column;
    
    }
    .banner-text{
       width: auto;
       height: auto;
       
        margin-bottom: 30px;
    }
    .banner-title{
        font-size: 4rem;
    }
    .banner-img{
    
        position: relative;
        width: 270px;
        }
   .video-imgg{
    display: none;
   }
   .video-img{
    display: flex;
   }  
        .position-two{
           
           top: 55%;
           left: -15%;
            
        }
        .position-one{  
        top:10%;
        left:70%;
        } 


 /*habit*/
 .habit-titel{
    font-size: 2rem;
    
 }
.habit-p{
    
    text-align: center;
}
 .havit-container{
   flex-direction: column;
  
}
/*exercise*/
.exercise{
    flex-direction: column;
    
  margin: auto;
  
  gap: 20px;
  padding: auto ;
    
}
.exercise-description{
    width: 287px;
    height: auto;
}
.exercise-titel{
    font-size: 2rem;
}
.exercise-img img{
  width: 287px;
  height: auto;
}
.exercise-btn{
 width: 100%;
}
/*BMI*/
.BMI{
    text-align: left;
    
}

.bmi-container{
    flex-direction: column;
    
   
}
.number5{
    width: 205%;
  } 
  
.bmi{
  width: fit-content;
  
    
}
/*team*/
.team-grid{ 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
   grid-template-areas: "img-two-a"
                        "img-two-c"
                        "img-two-b"
                        "img-two-d";
 
}
.img-non{
    display: none;
}
.team-grid img{
    width: 370px;
    height: 272px;
}
/*footer*/
.footer-container{
    flex-direction: column;
    
}
.footer-logo{
    width: 370px;
    text-align: left;
    
}
.footer-bottom{
    width: 320px;
    margin: auto;
}
}
